@model Cotch

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cotch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cotch_status" class="control-label"></label>
                <input asp-for="cotch_status" class="form-control" />
                <span asp-validation-for="cotch_status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="available_times" class="control-label"></label>
                <input asp-for="available_times" class="form-control" />
                <span asp-validation-for="available_times" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passwordHash" class="control-label"></label>
                <input asp-for="passwordHash" class="form-control" />
                <span asp-validation-for="passwordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="boy" class="control-label"></label>
                <input asp-for="boy" class="form-control" />
                <span asp-validation-for="boy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wight" class="control-label"></label>
                <input asp-for="wight" class="form-control" />
                <span asp-validation-for="wight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="number" class="control-label"></label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="whoIam" class="control-label"></label>
                <select asp-for="whoIam" class="form-control"></select>
                <span asp-validation-for="whoIam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
