@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in our Fintness Center</h1>
    <a href="/Home/Login"><div class="card"><h3>LOGIN</h3></div></a>
    <a href="/Home/Register"><div class="card"><h3>REGISTER</h3></div></a>
    <a href="/Home/Info"><div class="card"><h3>INFO</h3></div></a>
</div>
